@import "_variables";


// Common Classes
.shadow {
  box-shadow: 0 2px 5px 0 $color-dark, 0 2px 10px 0 $color-dark;
}

// Page color style
body {
  background: $bg-color;
}

#card-section {
  .p-card {
    @extend .shadow;
    background-color: $bg-color;
    color: $text-color;
  }
  .p-card-content {
    .social {
      a {
        &.github {
          color: #ffffff;
        }
        &.gitlab {
          color: #fc6d26;
        }
        &.facebook {
          color: #0c8ef4;
        }
        &.twitter {
          color: #1da1f2;
        }
        &.linkedin {
          color: #009df1;
        }
        &.skype {
          color: #00b4ee;
        }
      }
    }
  }
}