.shadow, #card-section .p-card {
  -webkit-box-shadow: 0 2px 5px 0 #000000, 0 2px 10px 0 #000000;
          box-shadow: 0 2px 5px 0 #000000, 0 2px 10px 0 #000000;
}

body {
  background: #262525;
}

#card-section .p-card {
  background-color: #262525;
  color: #7b7b7b;
}

#card-section .p-card-content .social a.github {
  color: #ffffff;
}

#card-section .p-card-content .social a.gitlab {
  color: #fc6d26;
}

#card-section .p-card-content .social a.facebook {
  color: #0c8ef4;
}

#card-section .p-card-content .social a.twitter {
  color: #1da1f2;
}

#card-section .p-card-content .social a.linkedin {
  color: #009df1;
}

#card-section .p-card-content .social a.skype {
  color: #00b4ee;
}
