@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 50px;
  }
  #card-section .p-card {
    margin-top: -35%;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    padding: 0 120px;
  }
  #card-section .p-card {
    margin-top: -50%;
    text-align: center;
    overflow: visible;
  }
  #card-section .p-card .p-card-content {
    padding-top: 80px;
  }
  #card-section .p-card .p-card-content .social {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #card-section .p-card .p-card-content .social a {
    margin: 0;
  }
  #card-section .p-card .p-card-picture {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -22%);
            transform: translate(-50%, -22%);
  }
  #card-section .p-card .p-card-picture:after {
    display: none;
  }
  #card-section .p-card .p-card-picture img {
    border-radius: 50%;
    height: 150px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 50px;
  }
}
