// Responsive code
@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 50px;
  }
  #card-section {
    .p-card {
      margin-top: -35%;
    }
  }
}
@media only screen and (max-width: 992px) {
  .container {
    padding: 0 120px;
  }
  #card-section {
    .p-card {
      margin-top: -50%;
      text-align: center;
      overflow: visible;
      .p-card-content {
        padding-top: 80px;
        .social {
          justify-content: space-between;
          display: flex;
          a {
            margin: 0;
          }
        }
      }
      .p-card-picture {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -22%);
        &:after {
          display: none;
        }
        img {
          border-radius: 50%;
          height: 150px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 50px;
  }
}